/* ===== Reset / Normalize cơ bản ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden; /* chặn cuộn ngang do animation/ảnh tràn khi mới reload */
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; /* chặn cuộn ngang do animation/ảnh tràn khi mới reload */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
